[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygsheets = "*"
psycopg2-binary = "*"
numpy = "*"
requests = "*"
datetime = "*"
pandas = "*"
matplotlib = "*"
ipykernel = "*"
tabulate = "*"
impyla = "*"
openpyxl = "*"
pydrive = "*"
looker-sdk = "*"
snowflake-connector-python = "==2.7.6"
databricks-sql-connector = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
